.operation{
    height: 10vh;  
}

.op-text{
    font-size: 4vh;
    margin-top: 4vh;
}
.op-res{
    
    margin-top:6vh;
    font-size: 9vh;
}
.current{
    height: 20vh;
    overflow-x: auto;
    overflow-y: hidden;
    
}
.p-1{
   width: 100%;
   text-align: right;
   margin: 0%;
   margin-right: 2vw;
}
.sec-1{
    color: #FFFFFF;
    background-color: #000000;
}

.on{
    opacity: 1;
}
.off{ 
    opacity: 0;
}