.sec-2{
    margin-top: 4vh;
    background-color: white;
}
.button{
    width: 15vw;
    height: 15vw;
    border: solid 1px #000;
    border-radius: 50%;
    margin-left: 6vw;
    margin-top: 2vh;
     font-size: 4vh;
    
    font-family: fantasy,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
    outline: none !important;
}  
.blue{
    color: blue;
}
.large_button{
    width: 30vw;
    border-radius: 40%;
    text-align: end;
    margin-left:7vh;
}